html, body {
    font-family: 'Open Sans', roboto, arial, sans-serif;
    backdrop-filter: blur(4px);
    color: #383e56;
    font-size: 16px;
}

body {
    padding: 1rem 2rem 3rem 2rem;
}

.waves h1,
.waves h2 {
    align-self: center;
    background-color: transparent;
    color: #383e56a8
}

.waves {
  width: 100vw;
  height: 500px;
  background-image: url(image/batmanduck.jpg);
  background-size: cover;

  display: flex;
  flex-direction: column;
}

main {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

footer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #383e56a8
}
/* Style the tab buttons */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
  }
  
  /* Change background color of buttons on hover */
  .tablink:hover, .tablink:focus {
    background-color: #777;
    outline: none;
  }
  
  /* Set default styles for tab content */
  .tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
  }
  
  /* Style each tab content individually */
  #home {background-color: #f3c623;}
  #interests {background-color:#01a9b4;}
  #shows {background-color: green;}
  #books {background-color:orange;}
  #sites {background-color:purple;}

  